<main class="main-col">
  <form id="register-form" class="register-container">
    <div class="register-header">
      <div></div>
      <h1 class="register-title">Login</h1>
      <div></div>
    </div>
    <input
      type="text"
      placeholder="Username"
      name="username"
      [(ngModel)]="username"
      (input)="validateAll()"
      required
    />
    <input
      type="password"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
      (input)="validateAll()"
      required
    />

    <div class="button-container">
      <button type="submit" (click)="login()" form="register-form">
        Login
      </button>
      <button type="button" (click)="routeRegister()">Register</button>
    </div>

    <div *ngIf="!validate" style="color: red">Please fill all input</div>
  </form>
</main>
