<main class="main-col">
  <div class="contact-container">
    <div class="card">
      <div class="header">
        <div class="top">
          <div class="circle">
            <span class="red circle2"></span>
          </div>
          <div class="circle">
            <span class="yellow circle2"></span>
          </div>
          <div class="circle">
            <span class="green circle2"></span>
          </div>
          <div class="title">
            <p id="title2">style.css</p>
          </div>
        </div>
      </div>
      <div class="code-container">
        <textarea readonly="" name="code" id="code" class="area">
      .info {
        name: narongrit uppalabat;
        nick-name: tongsu;
        age: 22px;
        height: 185px;
        weight: 75px;
      }
      
      .contact {
        facebook: narongrit uppalabat;
        instagram: sirtongzaq;
        line: sirtongzaq;
        github: sirtongzaq;
        e-mail: narongrit.up.work@gmail.com;
        phone: 0637938203;
      }
      
      </textarea
        >
      </div>
    </div>
  </div>
</main>
