.create-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;

  .create-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    background: #464646;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 2;
    
    .tools {
      display: flex;
      align-items: center;
      padding: 20px;

      .circle {
        padding: 0 4px;
      }

      .box {
        display: inline-block;
        align-items: center;
        width: 10px;
        height: 10px;
        padding: 2px;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
      }

      .red {
        background-color: #ff605c;

        &:hover {
          transform: scale(1.5);
        }
      }

      .yellow {
        background-color: #ffbd44;

        &:hover {
          transform: scale(1.5);
        }
      }

      .green {
        background-color: #00ca4e;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    .create-form {
      display: flex;
      flex-direction: column;
      padding: 20px;

      .custom-date-input {
        align-items: center;
        background-color: #2e2e2e;
        padding: 10px 40px;
        height: 40px;
        font-size: large;
        border-radius: 10px;
        outline: none;
        color: #fff;
        border: none;
        width: 142px;
        margin-block: 10px;

        &:hover {
          box-shadow: 0 0 0 5px #3b83f65f;
        }

        &:focus {
          box-shadow: 0 0 0 5px #3b83f65f;
        }
      }

      .custom-date-input::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }

      .input-text-field {
        align-items: center;
        background-color: #2e2e2e;
        padding: 10px 40px;
        height: 40px;
        font-size: large;
        border-radius: 10px;
        outline: none;
        color: #fff;
        border: none;
        width: 88%;
        margin-block: 10px;

        &:hover {
          box-shadow: 0 0 0 5px #3b83f65f;
        }

        &:focus {
          box-shadow: 0 0 0 5px #3b83f65f;
        }
      }

      textarea {
        align-items: center;
        background-color: #2e2e2e;
        padding: 10px 40px;
        height: 150px;
        font-size: large;
        border-radius: 10px;
        outline: none;
        color: #fff;
        border: none;
        width: 88%;
        margin-block: 10px;

        &:hover {
          box-shadow: 0 0 0 5px #3b83f65f;
        }

        &:focus {
          box-shadow: 0 0 0 5px #3b83f65f;
        }
      }

      button {
        background-color: #2e2e2e;
        color: #3b82f6;
        border: none;
        border-radius: 8px;
        width: 140px;
        height: 45px;
        transition: 0.3s;
        margin-block: 10px;

        &:hover {
          background-color: #3b82f6;
          box-shadow: 0 0 0 5px #3b83f65f;
          color: #fff;
        }
      }

      .radio-button-container {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-block: 10px;
      }

      .radio-button {
        display: inline-block;
        position: relative;
        cursor: pointer;
      }

      .radio-button__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      .radio-button__label {
        display: inline-block;
        padding-left: 30px;
        margin-bottom: 10px;
        position: relative;
        // font-size: 15px;
        color: #fff;
        // font-weight: 600;
        cursor: pointer;
        // text-transform: uppercase;
        transition: all 0.3s ease;
      }

      .radio-button__custom {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid #555;
        transition: all 0.3s ease;
      }

      .radio-button__input:checked
        + .radio-button__label
        .radio-button__custom {
        background-color: #3b82f6;
        border-color: transparent;
        transform: scale(0.8);
        box-shadow: 0 0 20px #3b83f65f;
      }

      .radio-button__input:checked + .radio-button__label {
        color: #3b82f6;
      }

      .radio-button__label:hover .radio-button__custom {
        transform: scale(1.2);
        border-color: #3b82f6;
        box-shadow: 0 0 20px #3b83f65f;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .create-content {
    width: 85% !important;
    height: 100% !important;
    top: 50% !important;
  }

  .input-text-field {
    width: 75% !important;
  }

  textarea {
    width: 75% !important;
  }
}
