<main class="main-col">
  <div class="input-container">
    <input
      type="text"
      [(ngModel)]="searchText"
      name="searchText"
      (input)="searchUsers()"
      class="input-user"
      placeholder="Type to search"
    />
    <mat-icon class="icon">search</mat-icon>
  </div>

  <div class="card-user">
    <div *ngFor="let todo of todos" class="card-user-list">
      <div class="tools">
        <div class="circle">
          <span class="red box"></span>
        </div>
        <div class="circle">
          <span class="yellow box"></span>
        </div>
        <div class="circle">
          <span class="green box"></span>
        </div>
      </div>
      <p>{{ todo.title }}</p>
      <p>{{ todo.desc }}</p>
      <p>{{ todo.status }}</p>
      <p>{{ todo.createdAt | date : "medium" }}</p>
      <p>{{ todo.finishAt | date : "medium" }}</p>
    </div>
    <div class="no-data" *ngIf="todos.length === 0">
      <p>No todo found</p>
    </div>
  </div>
</main>
