<main class="main-col">
  <form class="register-container" id="register-form">
    <div class="register-header">
      <mat-icon class="back-icon" (click)="routeBack()"
        >arrow_back_ios</mat-icon
      >
      <h1 class="register-title">Register</h1>
      <div></div>
    </div>
    <input
      type="text"
      placeholder="Username"
      name="username"
      [(ngModel)]="username"
      (input)="validateAll()"
      required
    />
    <input
      type="text"
      placeholder="Email"
      name="email"
      [(ngModel)]="email"
      (input)="validateAll()"
      required
    />
    <input
      type="password"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
      (input)="validateAll()"
      required
    />
    <input
      type="password"
      placeholder="Confirm Password"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      (input)="validateAll()"
      required
    />

    <div class="button-container">
      <button type="submit" (click)="register()" form="register-form">
        Create Account
      </button>
    </div>

    <div *ngIf="!passwordMatch" style="color: red">Passwords do not match</div>
    <div *ngIf="!validate" style="color: red">Please fill all input</div>
  </form>
</main>
